name: CI_improved

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

jobs:
  print_message:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!
  
#Runs our previously defined workflow_call print action. 
  run_advanced_script:
    #Needs keyword ensures that each job is run in sequence and not in parallel.
    needs: print_message
    runs-on: ubuntu-latest
    steps: 
      - name: Run advanced molecular simulation
        run: |
          number_of_atoms=$((1 + 1))
          echo "Number of atoms: $number_of_atoms"

